@brd-radius: 8px;

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-section-styles(@margin: 0 auto) {
    margin: @margin;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cntr-flex() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    .main-section-styles();
    position: relative;
    padding: 10px;
    background: #eee;
    border-bottom-left-radius: @brd-radius;
    border-bottom-right-radius: @brd-radius;
}

.cart-button {
    box-sizing: border-box;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    width: 120px;
    height: 80px;
    padding: 0;
    outline: none;
    border: none;
    background: lightskyblue;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: @brd-radius;

    &:hover {
        background: cornflowerblue;
        color: white;
    }

    &:active {
        background: lightblue;
        color: black;
    }
}

.main {
    .main-section-styles(10px auto);
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 800px;
    padding: 40px 20px;
    flex-grow: 1;
    background: #fafafa;
    border-radius: @brd-radius;
}

.goods-list {
    .cntr-flex();
    flex-wrap: wrap;
    align-items: stretch;
}

.goods-item {
    .cntr-flex();
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid lightblue;
    min-width: 120px;
    border-radius: @brd-radius;
    transition: 0.2s;
    position: relative;
    cursor: pointer;

    & > * {
        z-index: 2;
    }

    &:hover {
        box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.75);
    }
    &:active {
        box-shadow: 0px 0px 17px 0px fade(lightskyblue, 75%);

        &::after {
            max-height: 100%;
            background: fade(black, 10%);
        }
    }
}

.cart-popup {
    position: fixed;
    background: fade(white, 95%);
    width: 100vw;
    height: 100vh;
    max-height: 0;
    z-index: 20;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    &-close {
        position: absolute;
        border: none;
        outline: none;
        font-size: 48px;
        background: transparent;
        cursor: pointer;
        transition: 0.3s;
        right: 16px;
        top: 2px;
        padding: 0;
        margin: 0;
        color: gray;
        font-weight: 800;
        &:hover {
            color:black;
        }
        &:active {
            color:black;
            opacity: 0.2;
        }
    }
}

.cart-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.cart-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &-delete {
        border: none;
        outline: none;
        color: fade(red, 50%);
        font-size: 20px;
        font-weight: 800;
        margin: 0 0 0 8px;
        cursor: pointer;
        background: transparent;
        transition: 0.3s;
        &:hover {
            color: red;
        }
        &:active {
            color: blue;
        }
    }
}