<!DOCTYPE html>
<html>

<head>
    <title>eShop</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header class="header">
        <div class="header-filter">
            <input type="text" name="filter" id="filter" v-on:keyup="filterValueChanged">
            <button class="header-filter-search" v-on:click="filterGoods">{{searchTitle}}</button>
        </div>
        <button class="cart-button" type="button" v-on:click="openCart">Cart</button>
    </header>
    <main class="main">
        <div class="goods-list"></div>
    </main>
    <div class="cart-popup" v-bind:class="{opened: isVisible}">
        <div class="cart-items"></div>
        <span class="cart-popup-no-items" v-if="itemsCountInCart == 0">Cart is empty</span>
        <button class="cart-popup-order" v-if="itemsCountInCart != 0">Order</button>
        <button class="cart-popup-close" v-on:click="close">X</button>
    </div>
    <div class="order-popup">
        <div class="order-popup-wrapper">
            <h3 class="order-title">Insert data and make order</h3>
            <input type="text" class="order-field order-name" placeholder="name" id="order-user-name">
            <input type="tel" class="order-field order-phone" placeholder="+7(XXX)XXX-XXXX" id="order-user-phone">
            <textarea class="order-field order-message" name="order-message" id="order-user-message" cols="30" rows="10" placeholder="your message"></textarea>
            <button class="order-send" onclick="">Send order</button>
            <button class="order-close" onclick="magazine.closeOrder()">X</button>
        </div>
    </div>
    <script src="js/script.js" type="module"></script>
</body>

</html>